@use 'abstracts/mixins' as *;

.collection-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--grid-gap);

  @include respond-to('lg') {
    grid-template-columns: repeat(var(--col-count, 3), 1fr);
  }
}

.collection-grid__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  padding: var(--space-6) var(--space-4);
  border: 1px solid var(--color-fg);
  color: var(--color-fg);
  transition: background-color var(--transition-fast);

  &:hover {
    color: var(--color-neutral-0);
    background-color: var(--color-secondary);
  }
}

.collection-grid__label {
  font-size: var(--text-base);
  // font-weight: var(--weight-bold);
  text-transform: uppercase;
  text-align: center;
}
